- var siteName = 'FunkBookingBot'

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    block title
      title=siteName
    block headers
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' integrity='sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=' crossorigin='anonymous')
  body
    block content
    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js' integrity='sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js' integrity='sha256-E8KRdFk/LTaaCBoQIV/rFNc0s3ICQQiOHFT4Cioifa8=' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js' integrity='sha256-mLCPYHfNREhSETFQGuowilY3zBAZGnDO2cxCnCEm8/I=' crossorigin='anonymous')
      script
        include global.js
