extends base

block title
  title Dashboard - #{siteName}

block content
  .ui.container
    .ui.secondary.pointing.menu.massive(style="margin-bottom: 35px;")
      a.active.item(data-tab='myaccount')
        | My Account
      a.item(data-tab='users' style='display: none;')
        | Users
      .right.menu
        a.ui.item#logout
          i.sign-out.icon
          | Logout
    .ui.bottom.tab.active(data-tab='myaccount')
      form.ui.large.form.loading#account-data-form
        h3.ui.dividing.header Account Data
        .fields
          .field(style='flex-grow: 1;')
            label Email
            input(type='text' name='email' placeholder='Email')
          .field
            label Password
            button.ui.button.large.labeled.icon#change-password Change
              i.key.icon
          .field
            label Account
            button.ui.button.large.red.labeled.icon#delete-account Delete Account
              i.trash.icon
        h3.ui.dividing.header Funk Credentials
        .two.fields
          .field
            label Username
            input(type='text' name='funk[username]' placeholder='Funk Username')
          .field
            label Password
            input(type='password' name='funk[password]' placeholder='Funk Password')
        h3.ui.dividing.header Funk Schedule
        .seven.fields#schedule-fields
          - var weekDays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
          - for (var i = 0; i < 7; i++)
            .field
              label=weekDays[i]
              select.ui.search.scrolling.dropdown(name='schedule[' + weekDays[i].toLowerCase() + ']')
                option(value=-1) None
                option(value=0) 0
                option(value=1) 1
                option(value=2) 2
        .ui.large.green.submit.button.right.floated
          i.checkmark.icon
          | Save
        .ui.large.cancel.button.right.floated
          i.remove.icon
          | Cancel

    .ui.bottom.tab(data-tab='users')
      table.ui.celled.table#users-table
        thead
          tr
            th ID
            th Email
            th.single.line Funk Username
            th Admin
            th
        tbody
        template
          tr
            td
            td
            td
            td
            td.right.aligned
              .ui.icon.buttons
                .ui.button
                  i.edit.icon
                .ui.button
                  i.trash.icon
        tfoot
          tr
            th(colspan='5')
              .ui.right.floated.pagination.menu
                a.icon.item(data-action='decrease')
                  i.left.chevron.icon
                a.item.diabled(data-value=1)#current-user-page 1
                a.icon.item(data-action='increase')
                  i.right.chevron.icon

  .ui.modal#password-modal
    .header
      | Change Password
    .content
      form.ui.form
        .field
          label Old Password
          input(type='password' name='oldPassword' placeholder='Old Password')
        .field
          label New Password
          .two.fields
            .field
              input(type='password' id='newPassword' name='newPassword' placeholder='New Password')
            .field
              input(type='password' name='newPasswordRepeat' placeholder='Repeat New Password')
        .ui.error.message
    .actions
      .ui.cancel.button
        i.remove.icon
        | Cancel
      .ui.green.ok.button
        i.checkmark.icon
        | Change

  .ui.modal.mini#delete-self-modal
    .header
      | Delete Yourself?
    .content
      | Just do it.
    .actions
      .ui.cancel.button
        i.remove.icon
        | Nope
      .ui.red.ok.button
        i.trash.icon
        | Delete me

  .ui.modal#edit-user-modal
    .header
      | Edit User
    .content
      form.ui.form
        .two.fields
          .field
            label ID
            .ui.disabled.input
              input(type='text' name='id')
          .field
            label Email
            input(type='text' name='email')
        h3.ui.dividing.header Password
        .two.fields
          .field
            input(type='password' id='newUserPassword' name='newPassword' placeholder='New Password')
          .field
            input(type='password' name='newPasswordRepeat' placeholder='Repeat New Password')
        h3.ui.dividing.header Funk Credentials
        .two.fields
          .field
            label Username
            input(type='text' name='funk[username]' placeholder='Funk Username')
          .field
            label Password
            input(type='password' name='funk[password]' placeholder='Funk Password')
        .ui.error.message
    .actions
      .ui.cancel.button
        i.remove.icon
        | Cancel
      .ui.green.ok.button
        i.checkmark.icon
        | Save

append scripts
  script
    include dashboard.js
