extends base.pug

block title
  title Login - #{siteName}

append headers
  style.
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.image.header
        .content
          | Login to #{siteName}
      form.ui.large.form
        .ui.stacked.secondary.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type='text' name='email' placeholder='Email')
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password' name='password' placeholder='Password')
          .ui.fluid.large.purple.submit.button Login
        .ui.error.message

append scripts
  script
    include login.js
